<!DOCTYPE html>
<html>
<head>
    <title>Audio Emotion Detector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="main-container">

    <div class="card">
        <h1>🎧 Audio Emotion Detector</h1>
        <p class="subtitle">Upload a .wav file to detect emotion</p>

        <form id="uploadForm" action="/predict" method="post" enctype="multipart/form-data">
            <label class="upload-box">
                <input type="file" name="file" accept=".wav" required>
                <span>Click to upload audio</span>
            </label>

            <button type="submit">Analyze Emotion</button>
        </form>

        <div id="loader" class="loader hidden"></div>

        {% if prediction %}
            <div class="result">
                <h2>Prediction</h2>
                <p class="emotion">{{ prediction }}</p>
            </div>
        {% endif %}
    </div>

</div>

<script>
document.getElementById("uploadForm").addEventListener("submit", function() {
    document.getElementById("loader").classList.remove("hidden");
});
</script>

</body>
</html>